{% extends "base.html" %} {% load static %}{% block content %}

<!--<div class="row">
  <div class="leftcolumn"
    <div class="card">
      <h2>{{trending.title}}</h2>
      <p>{{trending.created_on}}|{{trending.author}}</p>
      <h5>Get Latest Stories around the world</h5>
      <div class="fakeimg" style="height: 200px">
        <img src="{{trending.image.url }}" "width:40px;" "height: 40px">
      </div>
      <p>{{trending.content}}</p>
    </div>-->


    <!--== SIDE DISPLAY OF ADVERT ==-->
    <div class="rightcolumn">
      <div class="card">
        <input type="text" placeholder="Search..">
        <div class="fakeimg"><img src="{% static 'img/playermain.png' %}"/></div>
        <p>Premier League season is back. Tune in</p>
        <br /> 
      </div>
    </div>

    <!--<div class="rightcolumn">
      {% for post in posts %}
      <div class="card">
        <h3>{{post.title}}</h3>
        <div class="fakeimg"><img src="{{post.image.url}}"/></div>
        <p>{{post.content|truncatechars:"100"}}</p>
        <br />
        <a href="{%url  'readmore' trending.slug %}" class="btn">Read More &#8594</a> 
      </div>
      {% endfor %}
    </div>-->
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="column-66">
      <div class="fakeimg" style="height: 200px">
        <img src="{{post.image.url }}" "width:40px;" "height: 40px">
      </div>
      <h3>{{post.title}}</h3>
      <br>
      <!--== CONTENT ==-->
      <p>
        Written by:{{post.author}}<br>Date: {{post.created_on}}
        <br>
        {{post.content}}
      <p>
        <br>
       <!--== END OF CONTENT ==--> 
       <form class="commentsection"action="." method="POST">
        {% csrf_token %}
        <!--<textarea class="teaxtarea" placeholder ="Share your thoughts..." row="4" cols="40"></textarea>-->
        {{form.body}}
        <input type="submit" value="Send">
       </form>
       <!--== SECTION FOR COMMENTS ==-->
       {% for comment in comments %}
       <div class="commentsection">

          <div class="commentsectionname">{{request.user}}</div>
          {{comment.body}}
          

       </div> 
       {% endfor %} 

       <!--== COMMENT AND TEXT AREA ==-->
    </div>
  </div>
</div>
{% endblock content %}
