{% extends "base.html" %} {% load static %}{% block content %}

<div class="row">
  <div class="leftcolumn"
    <div class="card">
      <h2>{{trending.title}}</h2>
      <p id="trending"><b>Date :</b> {{trending.created_on}}
      </p>
      <p>
        <b>Writer :</b> {{trending.author}}
      </p> 
      <h5>Get Latest Stories around the world</h5>
      <id ="trending">
      <div class="fakeimg" style="height: 200px">
        <img src="{% static 'img/skysports-cristiano-ronaldo_5926247.jpg' %}" "width:40px;" "height: 40px">
        <!--=== <img src="{{ trending.image.url }}" "width:40px;" "height: 40px"> ===-->
      </div>
      <p>{{trending.content|truncatechars:"200"}}</p>
      <a href="{% url  'readmore' trending.slug %}" class="btn">Read More &#8594</a>
    </div>



    <!--== SIDE DISPLAY OF ADVERT BESIDE TRENDING==-->
    <div class="rightcolumn">
      <div class="card">
        <input type="text" placeholder="  Search..">
        <br/>
        <br/>
        <div class="fakeimg"><img src="{% static 'img/playermain.png' %}"/></div>
        <p>Premier League season is back. Tune in</p>
        <div class="orange-line"></div>
        <br /> 
      </div>
  </div> 
</div>   


    <!--== SIDE DISPLAY OF ADVERT ==-->
    <div class="rightcolumn">
      <div class="card"> 
        <div id="politics" class="fakeimg"><img src="{% static 'img/Tinubu-Buhari.jpg' %}"/></div>
        <p><b>Update on Nigerias' upcoming Presidential election</b>
          <br/>
          <hr/>
          President Buhari vows to support APC presidential aspirant
        </p>
        <div class="orange-line"></div>
        <br />
      </div>
    </div>

    <!--<div class="rightcolumn">
      {% for post in posts %}
      <div class="card">
        <h3>{{post.title}}</h3>
        <div class="fakeimg"><img src="{% static '{{post.image.url}}' %}"/></div>
        <p>{{post.content|truncatechars:"100"}}</p>
        <br />
        <a href="{%url  'readmore' trending.slug %}" class="btn">Read More &#8594</a> 
      </div>
      {% endfor %}
    </div>-->
  </div>
</div>
<div>
  <hr style="color: blue";/>
  <h4 class="readalso"> READ ALSO</h4>
  <p>"My husband na odogwu": Nigerian lady hypes her rich hubby, dances for him.</p>
  <hr style="color: blue";/>

</div>

<div class="container">
  {% for post in posts %}
  <div class="row">
    <div class="column-66">
      <div class="fakeimg" style="height: 200px">
        <img id="chelseanews" src="{{post.image.url }}" >
      </div>
      <h3>{{post.title}}</h3>
      <!--== CONTENT ==-->
      <p>
        <b>Date : </b>{{post.created_on}}
      </p>
      <p>
        <b>Writer : </b>{{post.author}}
      </p>
      <p>  
        {{post.content|truncatechars:"100"}}
      </p>
       <!--== END OF CONTENT ==--> 
      <a href="{% url  'readmore' post.slug %} " class="btn">Read More &#8594</a>
      <div class="orange-line1"></div>
    </div>
  </div>
  {% endfor %}
</div>
<h3 class="otherstories"> OTHER STORIES </h3>
<div class=" grey"></div>
<div class="section2">
  <a href="{% url 'stories' %}#fuel-scarcity"><img src="{% static 'img/Yellow_bus,_lagos_state.jpg' %}"></a>
  <p><b>FUEL SCARCITY</b><br/>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  </p>
</div> 
<hr/>

<div class="section2">
  <a href="{% url 'stories' %}#entertainment"><img src="{% static 'img/Davido.jpg' %}"></a>
  <p><b>ENTERTAINMENT</b><br/>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  </p>
</div>
<hr/>
<div class="section2">
  <a href="{% url 'stories' %}#Ukraine-attack"><img src="{% static 'img/russia-war.jpeg' %}"></a>
  <p><b>GLOBAL</b><br/>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  </p>
</div>
<hr/> 
{% endblock content %}
